<!DOCTYPE html>
<head>
  <title>Sign up</title>
  <meta charset="utf-8"/>
  <link rel="stylesheet" type="text/css" href="../static/css/site.css">
  <script src="../static/js/jquery-3.5.1.js" type="text/javascript"></script>
  <script src="../static/js/validation.js" type="text/javascript" async></script>
</head>
<body>
      <section>
        <h3>Sign up</h3>

        <form id="ticketForm" action="/register" method="POST" novalidate>

          <div id="userNameFeedback" class="formFeedback hidden">∗ Please enter a valid username</div>
          <div class="labelComponentPair">
            <label for="userName">Username: </label>
            <input id="userName" name="userName" required/>
          </div>

          <div id="pswFeedback" class="formFeedback hidden">∗ Please enter a valid password</div>
          <div class="labelComponentPair">
            <label for="userPassword">Password: </label>
            <input type="password" id="userPassword" name="userPassword" required/>
          </div>

          <div id="cpswFeedback" class="formFeedback hidden">∗ Please confirm your password </div>
          <div id="cpswFeedback2" class="formFeedback hidden">∗ Confirmed password should correspond to your password! </div>
          <div class="labelComponentPair">
            <label for="cuserPassword">Confirmed password: </label>
            <input type="password" id="cuserPassword" name="cuserPassword" required/>
          </div>

          <div id="genderFeedback" class="formFeedback hidden">∗ Please select your gender </div>
          <div class="labelComponentPair">
            <label for="userGender">Gender: </label>
            <select id="userGender" name="userGender" class="validate[required]">
              <option disabled="disabled" selected="" value="">Choose a gender</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
          </div>

          <div id="dobFeedback" class="formFeedback hidden">∗ Please select your day of birth  </div>
          <div class="labelComponentPair">
            <label for="userDob">Birthday: </label>
            <input type="date" id="userDob" name="userDob" required/>
          </div>

          <button type="submit" class="submit">Register</button>

        </form>
      </section>

</body>
