<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="../static/css/site.css">
    <script src="../static/js/jquery-3.5.1.js" type="text/javascript"></script>
    <script src="../static/js/echarts.js"></script>
    <script src="../static/js/view.js"></script>
</head>
<body>
<h3>Welcome, dear {{.user.Username}} </h3>
<input type="hidden" name="female" id="female" value="{{.female}}" />
<input type="hidden" name="male" id="male" value="{{.male}}" />
<input type="hidden" name="teen" id="teen" value="{{.age.Teen}}" />
<input type="hidden" name="adult" id="adult" value="{{.age.Adult}}" />
<input type="hidden" name="elderly" id="elderly" value="{{.age.Elderly}}" />
<div><p id="gender_stats">Click here to check out our user statistics by gender</p></div>
<div id="main"></div>
<div><p id="age_stats">Click here to check out our user statistics by age</p></div>
<div id="side"></div>
</body>