body {
  background-color: white;
  font-family: sans-serif;
  margin-top: 0;
}

h3 {
  color: cadetblue;
  text-align: center;
}

/* FORM */
.hidden {
  display: none !important;
}

form {
  margin: 0 auto;
  min-width: 500px;
  width: 500px;
}

.labelComponentPair {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0;
}

.labelComponentPair > *:first-child {
  text-align: right;
  margin-right: 6px;
  width: 38%;
}

.formFeedback {
  color: #d73232;

  margin-left: 38%; /* same as first-child of labelComponentPair class */
  margin-bottom: -10px;
  font-size: small;
}

#userName {
  width: 140px;
}

#userPassword, #cuserPassword {
  width: 240px;
}

.submit {
  display: block;
  margin-top: 16px;
  margin-left: auto;
}

