body {
  background-color: white;
  font-family: sans-serif;
  margin-top: 0;
}

.main {
  background-color: white;
  overflow:hidden;
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 500px;
}

h2 {
  text-align: center;
  font-variant: small-caps;
  color: #cc9900;
  padding-top: 10px;
}

h3 {
  text-align: center;
  font-variant: small-caps;
  color: #008484;
}

article {
  padding: 20px 35px;
}

li {
  list-style-type: square;
}

figcaption {
  font-variant: small-caps;
  color: #008484;
}
/* HEADER START */

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.logo a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-variant: small-caps;
  text-decoration: none;
  font-size: 36px;
  padding-top: 5px;
}

header {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px 10px black;
  filter: grayscale(10%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 0 35px 0;
}

header span {
  color: white;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  align-items: center;
  font-variant: all-small-caps;
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 0 5px 10px;
}

nav li {
  list-style: none;
}

.top a {
  width: 300px;
  text-decoration: none;
  text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black, 0 0 5px black;
  letter-spacing: 2px;
  color: white;
  margin: 10px 20px;
  padding: 0 0 7px 0;
}

.top a:hover {
  border-bottom: 1px solid white;
}

.top img {
  width: 90px;
}

h1 {
  flex-basis: 100%;
  text-align: center;
  text-shadow: 0 0 5px #cc9900, 0 0 5px #cc9900;
  font-size: 42px;
  font-variant: all-small-caps;
  letter-spacing: 1px;
  color: white;
}

/* HEADER END */

/* HOME PAGE START */

#quick_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shortcut {
  width: 200px;
  margin: 0 15px;
}

.shortcut img {
  width: 200px;
  height: 200px;
}

.shortcut figure {
  margin: 0;
}

.shortcut h4 {
  font-variant: all-small-caps;
  letter-spacing: 2px;
  color: #008484;
  margin: 0;
}

.shortcut a {
  text-decoration: none;
}

/* Pre-Order FORM */

.hidden {
  display: none !important;
}

form {
  margin: 0 auto;
  min-width: 500px;
  width: 500px;
}

.labelComponentPair {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 16px 0;
}

.labelComponentPair > *:first-child {
  text-align: right;
  margin-right: 6px;
  width: 38%;
}

.formFeedback {
  color: #d73232;

  margin-left: 38%; /* same as first-child of labelComponentPair class */
  margin-bottom: -10px;
  font-size: small;
}

#userName {
  width: 140px;
}

#userEmail {
  width: 240px;
}

#numTickets {
  width: 40px;
}

#pickupLocation {
  width: 180px;
}

.submit {
  display: block;
  margin-top: 16px;
  margin-left: auto;
}

/* HOMEPAGE END */

/* NEWS ALIGNMENT START */

.news-content {
  display: flex;
}

.news-main {
  flex-basis: 65%;
  margin: 0 20px 0 30px;
}

.news figure {
  margin: 0;
  padding: 0;
}

.news figure img {
  width: 100%;
}

.news-content aside {
  flex-basis: 30%;
  height: 100%;
  border-style: solid;
  margin: 0 30px;
  padding: 5px 15px;
}

/* NEWS ALIGNMENT END */

/* GALLERY START */

.gallery img {
  width: 300px;
  height: 200px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* GALLERY END */

/* RESOURCES START */

#collab {
  background-color: #dbd3cb;
  font-style: italic;
  font-variant: small-caps;
  color: #008484;
  margin: 5px 0;
  padding: 15px;
  padding-bottom: 5px;
}

.float_right {
  float: right;
  margin-top: 0;
}

.float_left {
  float: left;
  margin-top: 0;
  margin-left: 0;
}

.float_right img {
  width: 220px;
}

.float_left img {
  width: 220px;
}

/* RESOURCES END */

footer {
  text-align: center;
  font-size: 10px;
  color: #706c65;
  margin: 15px 0;
  clear: left;
}
